#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"MalfunctDimID",hidden: true},
  {"property":"Malfunction","header":"Отказ", editor: "stringEditor"},
  {"property":"Character","header":"Литера", editor: "stringEditor"},
  {"property":"Target_EN","header":"Объект отказа(EN)", editor: "stringEditor"},
  {"property":"Target","header":"Объект отказа", editor: "stringEditor"},
  {"property":"Сим. диаграмма","header":"Сим. диаграмма", editor: "stringEditor"},
  {"property":"is_main","header":"is_main", editor: "BooleanSelector", nested: true}];
