#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"MalfunctDimID",hidden: true},
  //{"property":"Malfunction","header":"Отказ", editor: "stringEditor"},
  {property:'pds_malfunction.system.System',"header":"Система отказа",nested:true},
  {property:'system.System',"header":"Система отказа",nested:true, hidden: true},
  {property:'pds_malfunction.Numb',"header":"Номер отказа",nested:true},
  {"property":"Character","header":"Литера", editor: "stringEditor"},
  {"property":"Target","header":"Объект отказа", editor: "stringEditor"},
  {"property":"Target_EN","header":"Объект отказа(EN)", editor: "stringEditor"},
  {property:"sd_sys_numb.sd_link", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'sd_sys_numb_id', nested: true},
  {"property":"is_main","header":"is_main", editor: "BooleanSelector", nested: true}];
