#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"rfID",hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id',nested: true},
  //{"property":"name_RU","header":"name_RU", editor: "stringEditor"},
  {"property":"name","header":"TAG", editor: "stringEditor"},
  {"property":"Ptag","header":"PTAG", editor: "stringEditor"},
  {"property":"tag_RU","header":"TAG_RU", editor: "stringEditor"},
  {"property":"Desc","header":"Описание", editor: "stringEditor"},
  {"property":"Desc_EN","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"range","header":"Диапазон RF", editor: "stringEditor"},
  {property:"pds_project_unit.unit.Unit_RU", header:"Разм. RF", editor: "UnitSelector", attribute: 'pds_project_unit_id', nested: true},
  //{"property":"Unit","header":"Разм. RF", editor: "stringEditor"},
  {"property":"type","header":"Тип RF", editor: "RFTypeSelector"},
  {"property":"range_FB","header":"Диапазон FB", editor: "stringEditor"},
  //{"property":"unit_FB","header":"Разм. FB", editor: "stringEditor"},
  {property:"psa_project_unit.unit.Unit_RU", header:"Разм. FB", editor: "UnitSelector", attribute: 'psa_project_unit_id', nested: true},
  {"property":"Type_FB","header":"Тип FB", editor: "RFTypeSelector"},
  //{"property":"rate","header":"rate", editor: "stringEditor"},
  {property:"sd_sys_numb.sd_link", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'sd_sys_numb_id', nested: true}];
  //{"property":"sd_N","header":"Сим. диаграмма", editor: "stringEditor"}];
  //{"property":"t","header":"t"},
  //{"property":"typerf","header":"typerf", editor: "stringEditor"},
  //{"property":"scale","header":"scale", editor: "stringEditor"},
  //{"property":"frfID","header":"frfID", editor: "stringEditor"}];
