#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"MalfID",hidden: true},
  {property: "system", header: "Сист.", editor: "SystemSelector", attribute: 'system_id'},
  {"property":"Dimension","header":"Массив", editor: "stringEditor"},
  {"property":"Numb","header":"Номер", editor: "stringEditor"},
  {"property":"shortDesc","header":"Краткое описание", editor: "stringEditor"},
  {"property":"shortDesc_EN","header":"Краткое описание(EN)", editor: "stringEditor"},
  {"property":"cause","header":"Причина", editor: "stringEditor"},
  {"property":"cause_EN","header":"Причина(EN)", editor: "stringEditor"},
  {"property":"fullDesc","header":"Полное описание", editor: "stringEditor"},
  {"property":"fullDesc_EN","header":"Полное описание(EN)", editor: "stringEditor"},
  {"property":"type","header":"Тип", editor: "stringEditor"},
  {"property":"if_delete","header":"Удаление отказа", editor: "stringEditor"},
  {"property":"if_delete_EN","header":"Удаление отказа(EN)", editor: "stringEditor"},
  {"property":"lowlim_regidity","header":"Мин.", editor: "stringEditor"},
  {"property":"uplim_regidity","header":"Макс.", editor: "stringEditor"},
  {"property":"regidity_unit","header":"Разм.", editor: "stringEditor"},
  {"property":"regidity_text","header":"Описание жесткости", editor: "stringEditor"},
  {"property":"regidity_text_EN","header":"Описание жесткости(EN)", editor: "stringEditor"},
  {"property":"Unit_status","header":"Подходящее состояние", editor: "stringEditor"},
  //{"property":"t","header":"t"},
  //{"property":"File","header":"File", editor: "stringEditor"},
  {"property":"regidity_unitid","header":"regidity_unitid", editor: "stringEditor"},
  {"property":"scale","header":"Scale (ИС)", editor: "stringEditor"},
  {"property":"sd_N","header":"Сим. диаграмма", editor: "stringEditor"}];
