#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [
  {"property":"id","header":"Сим. диаграмма",hidden: true},
  {"property":"SdTitle","header":"Описание", editor: "stringEditor"},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"title_EN","header":"Описание(EN)"},
  {"property":"Numb","header":"Номер", editor: "stringEditor"},
  {"property":"BlobObj","header":"Эл. копия"},
  //{"property":"from_sapfir","header":"from_sapfir", editor: "stringEditor"},
  {"property":"t","header":"Дата модиф."}];
