#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =[
  {"property":"id","header":"ppcdID",hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"Shifr","header":"Шифр", editor: "stringEditor"},
  {"property":"Key","header":"Ключ", editor: "stringEditor"},
  {"property":"identif","header":"Идентификатор", editor: "stringEditor"},
  {"property":"Description","header":"Описание", editor: "stringEditor"},
  {"property":"Description_EN","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"Detector","header":"Датчик", editor: "stringEditor"}
  //{"property":"t","header":"t"},
  //{"property":"code","header":"code", editor: "stringEditor"}
  ];
