#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"ppcID",hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"Shifr","header":"Шифр", editor: "stringEditor"},
  {"property":"Key","header":"Ключ", editor: "stringEditor"},
  {"property":"identif","header":"Идентификатор", editor: "stringEditor"},
  {"property":"Description","header":"Описание", editor: "stringEditor"},
  {"property":"Description_EN","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"Detector","header":"Датчик", editor: "stringEditor"},
  {"property":"Разм.","header":"Разм.", editor: "stringEditor"},
  {"property":"L_lim","header":"Мин.", editor: "stringEditor"},
  {"property":"U_lim","header":"Макс.", editor: "stringEditor"},
  {"property":"nom","header":"Ном. знач.", editor: "stringEditor"}
  //{"property":"LA","header":"LA", editor: "stringEditor"},
  //{"property":"LW","header":"LW", editor: "stringEditor"},
  //{"property":"HW","header":"HW", editor: "stringEditor"},
  //{"property":"HA","header":"HA", editor: "stringEditor"},
  //{"property":"code","header":"code", editor: "stringEditor"},
  //{"property":"power","header":"power", editor: "stringEditor"},
  //{"property":"UnitID","header":"UnitID", editor: "stringEditor"}];
  ];
