#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"BreakerID"},
  {property: "system", header: "Сист.", editor: "SystemSelector", attribute: 'system_id'},
  {"property":"TAG_RU","header":"TAG_RU", editor: "stringEditor"},
  {"property":"TAG/KKS","header":"TAG/KKS", editor: "stringEditor"},
  {"property":"Сил. пит.","header":"Сил. пит.", editor: "stringEditor"},
  {"property":"Питание","header":"Питание", editor: "stringEditor"},
  {"property":"Пит. сигн.","header":"Пит. сигн.", editor: "stringEditor"},
  {"property":"Time","header":"Time", editor: "stringEditor"},
  {"property":"Алгоритм","header":"Алгоритм", editor: "stringEditor"},
  {"property":"Описание","header":"Описание", editor: "stringEditor"},
  {"property":"Описание(EN)","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"Компонент","header":"Компонент", editor: "stringEditor"},
  {"property":"eq_type","header":"eq_type", editor: "stringEditor"},
  {"property":"Соединение","header":"Соединение", editor: "stringEditor"},
  {"property":"Сим. диаграмма","header":"Сим. диаграмма", editor: "stringEditor"}];
