#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"section_N"},
  {"property":"section_name","header":"section_name", editor: "stringEditor"},
  {"property":"assembler","header":"assembler", editor: "stringEditor"},
  {"property":"t","header":"t"},
  {"property":"assembler_pwr","header":"assembler_pwr", editor: "stringEditor"},
  {"property":"assembler_ec","header":"assembler_ec", editor: "stringEditor"}];