:javascript

  var columns =
  [{"property":"id","header":"section_N", hidden: true},
  {"property":"section_name","header":"Имя секции/сборки", editor: "stringEditor"},
  {"property":"assembler","header":"Программное имя", editor: "stringEditor"},
  //{"property":"t","header":"t"},
  {"property":"assembler_pwr","header":"Силовое питание", editor: "stringEditor"},
  {"property":"assembler_ec","header":"ШУ", editor: "stringEditor"}];
