#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"EqID"},
  {property: "system", header: "Сист.", editor: "SystemSelector", attribute: 'system_id'},

  {"property":"KKS","header":"KKS", editor: "stringEditor"},
  {"property":"eq_type","header":"eq_type", editor: "stringEditor"},
  {"property":"Description_RU","header":"Description_RU", editor: "stringEditor"},
  {"property":"Description_EN","header":"Description_EN", editor: "stringEditor"},
  {"property":"type_equip","header":"type_equip", editor: "stringEditor"},
  {"property":"sd_N","header":"Сим. диаграмма", editor: "stringEditor"}];
