
:javascript
  var columns = [
  {"property":"id","header":"BreakerID", hidden: true},
  // {"property":"Project","header":"Project", hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"tag_RU","header":"TAG_RU", editor: "stringEditor"},
  {"property":"tag","header":"TAG/KKS", editor: "stringEditor"},
  //{property: "psa_ed_power.section_name", header: "Сил. пит.",
  //  editor: "PdsSectionAssemblerSelector", attribute: 'psa_ed_power_id', nested: true},
  {property: "psa_ctrl_power.section_name", header: "Пит. ШУ",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_ctrl_power_id', nested: true},
  {property: "psa_anc_power.section_name", header: "Пит. сигн.",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_anc_power_id', nested: true},
  //{"property":"Time","header":"Time", editor: "stringEditor"},
  {"property":"Algorithm","header":"Алгоритм", editor: "stringEditor"},
  {"property":"Desc_RU","header":"Описание", editor: "TextEditor"},
  {"property":"Desc_EN","header":"Описание(EN)", editor: "TextEditor"},
  {"property":"model","header":"Компонент", editor: "stringEditor"},
  //{"property":"eq_type","header":"eq_type", editor: "stringEditor"},
  {"property":"connection","header":"Соединение", editor: "stringEditor"},
  {property:"sd_sys_numb.sd_link", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'sd_sys_numb_id', nested: true}]; 
