#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"BreakerID"},
  {property: "system", header: "Сист.", editor: "SystemSelector", attribute: 'system_id'},
  {"property":"tag_RU","header":"TAG_RU", editor: "stringEditor"},
  {"property":"tag","header":"TAG/KKS", editor: "stringEditor"},
  {"property":"ed_power","header":"Сил. пит.", editor: "stringEditor"},
  {"property":"Питание","header":"Питание", editor: "stringEditor"},
  {"property":"anc_power","header":"Пит. сигн.", editor: "stringEditor"},
  {"property":"Time","header":"Time", editor: "stringEditor"},
  {"property":"Algorithm","header":"Алгоритм", editor: "stringEditor"},
  {"property":"Desc","header":"Описание", editor: "stringEditor"},
  {"property":"Описание(EN)","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"model","header":"Компонент", editor: "stringEditor"},
  {"property":"eq_type","header":"eq_type", editor: "stringEditor"},
  {"property":"connection","header":"Соединение", editor: "stringEditor"},
  {"property":"sd_N","header":"Сим. диаграмма", editor: "stringEditor"}];
