#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  // {property:"id",header:"RegID"},
  {property:"model",header:"model", editor: "stringEditor"},

    {property: "system.System", header: "Система", nested: true,
      editor: "SystemSelector", attribute: 'system_id'},

    {property:"pds_man_equip.Type",header:"Тип В ИС", nested: true,
      editor: "PdsManEquipSelector", attribute: 'pds_man_equip_id'},

  {property:"tag_RU",header:"tag_RU", editor: "stringEditor"},
  {property:"tag_EN",header:"tag_EN", editor: "stringEditor"},
  {property:"station_sys",header:"station_sys", editor: "stringEditor"},
  {property:"Desc",header:"Desc", editor: "TextEditor"},
    {property: "psa_ed_power.section_name", header: "ed_power", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_ed_power_id'},

    {property: "psa_ctrl_power.section_name", header: "ctrl_power", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_ctrl_power_id'},

    {property: "psa_anc_power.section_name", header: "anc_power", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_anc_power_id'},
  {property:"nom_state",header:"nom_state", editor: "stringEditor"},
  {property:"open_rate",header:"open_rate", editor: "stringEditor"},
  {property:"close_rate",header:"close_rate", editor: "stringEditor"},
  {property:"sd_N",header:"sd_N", editor: "stringEditor"},
  {property:"doc_reg_N",header:"doc_reg_N", editor: "stringEditor"},
  {property:"Algorithm",header:"Algorithm", editor: "stringEditor"},
  {property:"Desc_EN",header:"Desc_EN", editor: "TextEditor"},
  {property:"import_t",header:"import_t"},
  {property:"mod",header:"mod"},
  {property:"vlv",header:"vlv", editor: "stringEditor"},
  {property:"value_1.tag_RU", header:"vlv_1", editor: "PdsValvesSelector", attribute: 'value_1_id', nested: true},
  {property:"value_2.tag_RU", header:"vlv_2", editor: "PdsValvesSelector", attribute: 'value_2_id', nested: true },
  {property:"det_id",header:"det_id", editor: "stringEditor"},
  {property:"par_val",header:"par_val", editor: "stringEditor"}];
