:javascript

  var columns = [
  {property:"id", header:"algID", hidden: true},
  {property:"alg_type", header:"Тип соединения", editor: "stringEditor"},
  {property:"numb", header:"Номер", editor: "stringEditor"}];
