
:javascript
  var columns =[
   {property: "id",header:"DetID", hidden: true},
    {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
    //{property:"station_sys",header:"station_sys", editor: "PdsManEquipSelector", nested: true},
    //{property:"station_sys",header:"station_sys", editor: "stringEditor"},
    {property:"tag",header:"TAG/KKS", editor: "stringEditor"},
    {property:"tag_RU",header:"TAG_RU", editor: "stringEditor"},
    {property:"Desc",header:"Описание", editor: "TextEditor"},
    {property:"Desc_EN",header:"Описание(EN)", editor: "TextEditor"},
    //{property:"Group_N",header:"Group_N", editor: "stringEditor"},
    {property: "pds_section_assembler.section_name", header: "Питание", editor: "PdsSectionAssemblerSelector", attribute: 'pds_section_assembler_id', nested: true},
    //{property:"nom_state",header:"nom_state", editor: "stringEditor"},
    {property:"low_lim",header:"low_lim", editor: "stringEditor"},
    {property:"up_lim",header:"up_lim", editor: "stringEditor"},
    {property:"pds_project_unit.unit.Unit_RU", header:"Разм.", editor: "UnitSelector", attribute: 'pds_project_unit_id', nested: true},
    {property:"LA",header:"LA", editor: "stringEditor"},
    {property:"HA",header:"HA", editor: "stringEditor"},
    {property:"LW",header:"LW", editor: "stringEditor"},
    {property:"HW",header:"HW", editor: "stringEditor"},
    {property:"LT",header:"LT", editor: "stringEditor"},
    {property:"HT",header:"HT", editor: "stringEditor"},
    {property:"1coef_shift",header:"коэф. 1", editor: "stringEditor"},
    {property:"2coef_scale",header:"коэф. 2", editor: "stringEditor"},
    //{property:"sluggishness",header:"sluggishness", editor: "stringEditor"},
    //{property:"scale_noise",header:"scale_noise", editor: "stringEditor"},
    //{property:"Func",header:"Func", editor: "stringEditor"},
    {property:"Type",header:"Тип сигнала", editor: "stringEditor"},
    {property:"TypeDetec",header:"Тип датчика", editor: "stringEditor"},
    {property:"Room",header:"Помещение", editor: "stringEditor"},
    //{property:"SPTable",header:"SPTable", editor: "stringEditor"},
    {property:"SCK_input",header:"СЦК_ВХ", editor: "stringEditor"},
    //{property:"SP_1",header:"SP_1", editor: "stringEditor"},
    //{property:"SP_2",header:"SP_2", editor: "stringEditor"},
    //{property:"SP_3",header:"SP_3", editor: "stringEditor"},
    //{property:"SPT_ACTION",header:"SPT_ACTION", editor: "stringEditor"},
    //{property:"SPT_COMMENT",header:"SPT_COMMENT", editor: "stringEditor"},
    //{property:"DREG_input",header:"DREG_input", editor: "stringEditor"},
    //{property:"TimeConst",header:"TimeConst", editor: "stringEditor"},
    {property:"power",header:"Питание", editor: "stringEditor"},
    //{property:"varible",header:"varible", editor: "stringEditor"},
    //{property:"import_t",header:"import_t"},
    {property:"mod",header:"Дата изменения"},
    {property:"pds_sd.SdTitle", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'pds_sd_id', nested: true}];
    //{property:"pds_documentation.DocTitle", header:"doc_reg_N", editor: "PdsDocumentationsSelector", attribute: 'pds_documentation_id', nested: true},
    //{property:"alg_type",header:"alg_type", editor: "stringEditor"}];
