
:javascript
  var columns = [
  {"property":"id","header":"MotID", hidden: true},
  // {"property":"Project","header":"Project"},
  {property: "pds_motor_type.MotorType", header: "Тип двигат.", editor: "PdsMotorTypeSelector", attribute: 'pds_motor_type_id', nested: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  //{"property":"station_sys","header":"station_sys", editor: "stringEditor"},
  {"property":"tag_RU","header":"TAG_RU", editor: "stringEditor"},
  {"property":"tag_EN","header":"TAG/KKS", editor: "stringEditor"},
  {"property":"Desc_RU","header":"Описание", editor: "TextEditor"},
  {"property":"Desc_EN","header":"Описание(EN)", editor: "TextEditor"},
 
  {property: "psa_ed_power.section_name", header: "Сил. пит.",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_ed_power_id', nested: true},
  {property: "psa_ctrl_power.section_name", header: "Пит. ШУ",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_ctrl_power_id', nested: true},
  {property: "psa_anc_power.section_name", header: "Пит. сигн.",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_anc_power_id', nested: true},

  //{"property":"room","header":"Помещение", editor: "stringEditor"},
  //{"property":"elevation","header":"elevation", editor: "stringEditor"},
  //{"property":"Stopway","header":"Stopway", editor: "stringEditor"},
  //{"property":"nom_state","header":"nom_state", editor: "BooleanSelector"},
  //{"property":"lim_power","header":"lim_power", editor: "stringEditor"},
  //{"property":"effeciency","header":"effeciency", editor: "stringEditor"},
  //{"property":"rotation_speed","header":"rotation_speed", editor: "stringEditor"},
  {property:"sd_sys_numb.sd_link", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'sd_sys_numb_id', nested: true}, 
  //{property:"pds_documentation.DocTitle", header:"doc_reg_N", editor: "PdsDocumentationsSelector", attribute: 'pds_documentation_id', nested: true},
  {"property":"t","header":"t.", hidden: true},
  {"property":"up_rate","header":"t разг.", editor: "stringEditor"},
  {"property":"down_rate","header":"t выб.", editor: "stringEditor"},
  {"property":"zmn","header":"  ЗМН  ", editor: "MotorZmnSelector"},
  {"property":"model","header":"Компонент", editor: "stringEditor"},
  //{"property":"type_temp","header":"type_temp", editor: "stringEditor"},
  {"property":"voltage","header":"Напряжение, кВ", editor: "stringEditor"},
  //{"property":"RTZO_OLD1","header":"RTZO_OLD1", editor: "stringEditor"},
  //{"property":"RTZO_OLD2","header":"RTZO_OLD2", editor: "stringEditor"},
  //{"property":"RTZO_NEW1","header":"RTZO_NEW1", editor: "stringEditor"},
  //{"property":"RTZO_NEW2","header":"RTZO_NEW2", editor: "stringEditor"},
  {"property":"p_ust","header":"Мощность, кВт", editor: "stringEditor"},
  {"property":"i_nom","header":"Ток, А", editor: "stringEditor"},
  //{"property":"import_t","header":"import_t"},
  //{"property":"mod","header":"mod", editor: "stringEditor"},
  //{"property":"eq_type","header":"eq_type", editor: "stringEditor"},
  {"property":"connection","header":"Соединение", editor: "stringEditor"}];
  //{"property":"Algorithm","header":"Алгоритм", editor: "stringEditor"}];
