#general_table

:javascript
  var title = "#{title}";
  var model_name = "#{hash_model_name}";
  var data = #{table_data};
  var columns = [
  {property:"id",header:"EquipN", hidden: true},
  {property:"Type",header:"Type", editor: "stringEditor"},
  {property:"Descriptor",header:"Descriptor", editor: "stringEditor"},
  {property:"Contr_win",header:"Contr_win", editor: "stringEditor"},
  {property:"Over_menu",header:"Over_menu", editor: "stringEditor"},
  {property:"Comp_malf",header:"Comp_malf", editor: "stringEditor"}];
