#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
    {property:"id",header:"hexID", hidden: true},
    {property:"system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
    {property:"pds_man_equip.Type",header:"Тип в ИС", editor: "PdsManEquipSelector", attribute: 'pds_man_equip_id', nested: true},
    {property:"kks",header:"TAG/KKS", editor: "stringEditor"},
    {property:"ShortDesc",header:"Описание", editor: "stringEditor"},
    {property:"s",header:"Площадь т/о", editor: "stringEditor"},
    {property:"level",header:"Выс. отметка", editor: "stringEditor"},
    {property:"room",header:"Помещение", editor: "stringEditor"},
    //{property:"eq_type",header:"eq_type", editor: "stringEditor"},
    //{property:"var",header:"var", editor: "stringEditor"},
    //{property:"old_var",header:"old_var", editor: "stringEditor"},
    {property:"Desc_EN",header:"Описание(EN)", editor: "stringEditor"},
    {property:"sd_N",header:"Сим. диаграмма", editor: "stringEditor"}];
