#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  // {property:"id",header:"RegID"},

  {property: "system.System", header: "Сист.", nested: true,
    editor: "SystemSelector", attribute: 'system_id'},

  {property:"pds_man_equip.Type",header:"Тип в ИС", nested: true,
      editor: "PdsManEquipSelector", attribute: 'pds_man_equip_id'},

  {property:"tag_RU",header:"TAG_RU", editor: "stringEditor"},
  {property:"tag_EN",header:"TAG/KKS", editor: "stringEditor"},
  {property:"station_sys",header:"Станц. сист.", editor: "stringEditor"},
  {property:"Desc",header:"Описание", editor: "TextEditor"},
    {property: "psa_ed_power.section_name", header: "Сил. пит.", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_ed_power_id'},

    {property: "psa_ctrl_power.section_name", header: "Пит. ШУ", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_ctrl_power_id'},

    {property: "psa_anc_power.section_name", header: "Пит. сигн.", nested: true,
      editor: "PdsSectionAssemblerSelector", attribute: 'psa_anc_power_id'},
  //{property:"nom_state",header:"nom_state", editor: "stringEditor"},
  {property:"open_rate",header:"t откр.", editor: "stringEditor"},
  {property:"close_rate",header:"t закр.", editor: "stringEditor"},
  {property:"sd_N",header:"Сим. диаграмма", editor: "stringEditor"},
  //{property:"doc_reg_N",header:"doc_reg_N", editor: "stringEditor"},
  {property:"Algorithm",header:"Алгоритм", editor: "stringEditor"},
  {property:"model",header:"Компонент", editor: "stringEditor"},
  {property:"Desc_EN",header:"Описание(EN)", editor: "TextEditor"},
  //{property:"import_t",header:"import_t"},
  //{property:"mod",header:"mod"},
  //{property:"vlv",header:"vlv", editor: "stringEditor"},
  //{property:"value_1.tag_RU", header:"vlv_1", editor: "PdsValvesSelector", attribute: 'value_1_id', nested: true},
  //{property:"value_2.tag_RU", header:"vlv_2", editor: "PdsValvesSelector", attribute: 'value_2_id', nested: true },
  {property:"det_id",header:"Датчик", editor: "stringEditor"},
  {property:"par_val",header:"Уставка", editor: "stringEditor"}];
