#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {property:"id",header:"volumeID",hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {property:"pds_man_equip.Type",header:"Тип в ИС", editor: "PdsManEquipSelector", attribute: 'pds_man_equip_id', nested: true},

  {property:"kks",header:"TAG/KKS", editor: "stringEditor"},
  {property:"ShortDesc",header:"Описание", editor: "stringEditor"},
  {property:"Desc_EN",header:"Описание(EN)", editor: "stringEditor"},
  {property:"volume",header:"Объем", editor: "stringEditor"},
  {property:"height",header:"Высота", editor: "stringEditor"},
  {property:"level",header:"Выс. отметка", editor: "stringEditor"},
  {property:"room",header:"Помещение", editor: "stringEditor"},
  {property:"sd_sys_numb.sd_link", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'sd_sys_numb_id', nested: true}]; 
