#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {property:"id",header:"ejectorID", hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {property:"TAG/KKS", header:"TAG/KKS", editor: "stringEditor"},
  {property:"Описание", header:"Описание", editor: "stringEditor"},
  {property:"Описание(EN)", header:"Описание(EN)", editor: "stringEditor"},
  {property:"capacity", header:"Мощность", editor: "stringEditor"},
  {property:"level", header:"Выс. отметка", editor: "stringEditor"},
  {property:"Помещение", header:"Помещение", editor: "stringEditor"},
  //{property:"pds_project_unit", header:"Разм.", editor: "UnitSelector", attribute: 'pds_project_unit', nested: true},
  {property:"pds_sd.SdTitle", header:"Сим. диаграмма", editor: "SdSelector", attribute: 'pds_sd_id', nested: true}];
