:javascript

  var columns = [
  {property:"id", header:"algID", hidden: true},
  {property:"alg_type", header:"alg_type", editor: "stringEditor"},
  {property:"numb", header:"numb", editor: "stringEditor"}];
