
:javascript

  var columns = [
    {property:"id",header:"valveID", hidden: true},
    {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
    //{property:"station_sys",header:"station_sys", editor: "stringEditor"},
    //{property:"pds_man_equip.Type",header:"Тип в ИС", editor: "PdsManEquipSelector", attribute: 'pds_man_equip_id', nested: true},

  {property:"tag_RU",header:"TAG_RU", editor: "stringEditor"},
  {property:"tag_EN",header:"TAG/KKS", editor: "stringEditor"},
  {property:"PowerTemp",header:"Давление воздуха", editor: "stringEditor"},
  {property:"Type",header:"Тип", editor: "ValveTypeSelector"},
  {property:"Desc",header:"Описание", editor: "TextEditor"},
  {property:"Desc_EN",header:"Описание(EN)", editor: "TextEditor"},
  {property:"Department",header:"Отделение", editor: "stringEditor"},

  {property: "psa_ed_power.section_name", header: "Сил. пит.",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_ed_power_id', nested: true},
  {property: "psa_ctrl_power.section_name", header: "Пит. ШУ",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_ctrl_power_id', nested: true},
  {property: "psa_anc_power.section_name", header: "Пит. сигн.",
    editor: "PdsSectionAssemblerSelector", attribute: 'psa_anc_power_id', nested: true},

  {property:"open_rate",header:"t откр.", editor: "stringEditor"},
  {property:"close_rate",header:"t закр.", editor: "stringEditor"},
  {property:"sd_N",header:"Сим. диаграмма", editor: "stringEditor"},
  //{property:"doc_reg_N",header:"doc_reg_N", editor: "stringEditor"},
  {property:"Algorithm",header:"Алгоритм", editor: "stringEditor"},
  {property:"model",header:"Компонент", editor: "stringEditor"},
  //{property:"import_t",header:"import_t"},
  //{property:"mod",header:"mod"},
  //{property:"level",header:"level", editor: "stringEditor"},
  {property:"room",header:"Помещение", editor: "stringEditor"},
  //{property:"panels",header:"panels", editor: "stringEditor"},
  {property:"connection",header:"Соединение", editor: "stringEditor"}];
