#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"icID",hidden:true},
  //{"property":"Project","header":"Project"},
  {"property":"ref","header":"REF", editor: "stringEditor"},
  {"property":"system.System","header":"Сист.", nested: true},
  {"property":"tag_no","header":"TAG/KKS", editor: "stringEditor"},
  {"property":"Description","header":"Описание", editor: "TextEditor"},
  {property:"hw_ped.ped","header":"PED", nested: true, editor: "HwPedSelector", attribute: "hw_ped_id"},
  // todo suffix selector
  //{"property":"suffix","header":"suffix"},
  {"property":"scaleMin","header":"Мин.", editor: "stringEditor"},
  {"property":"scaleMax","header":"Макс.", editor: "stringEditor"},
  {property:"pds_project_unit.unit.Unit_RU", header:"Разм.", editor: "UnitSelector", attribute: 'pds_project_unit_id', nested: true},
  {"property":"UniquePTAG","header":"PTAG", editor: "stringEditor"},
  {"property":"un","header":"Unit", editor: "stringEditor"},
  //{"property":"bv","header":"bv", editor: "stringEditor"},
  {property:"pds_panel.panel","header":"Панель", editor: "PdsPanelSelector", attribute: 'pds_panel_id', nested: true},
  //{"property":"coord","header":"coord", editor: "stringEditor"},
  {"property":"hw_ped.hw_devtype.RuName","header":"Тип оборудования", nested: true},
  {"property":"Description_EN","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"rev","header":"Рев.", editor: "stringEditor"}
  //{"property":"version","header":"version"},
  //{"property":"mark","header":"mark"},
  //{"property":"t","header":"t"},
  //{property:"panel","header":"Панель", editor: "PdsPanelSelector", attribute: 'pds_panel_id', nested: true},
  ];
