
:javascript
  var columns = [
   {property: "id", header: "MnemoID", hidden: true},
  {property: "system.System", header: "Система",
    editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"Code","header":"Тренажерный код", editor: "stringEditor"},
  {"property":"Marker","header":"Маркировка", editor: "stringEditor"},
  {"property":"TechCode","header":"TechCode", editor: "stringEditor"},
  {"property":"Type","header":"Type", editor: "stringEditor"},
  {"property":"Opened","header":"Opened", editor: "stringEditor"},
  {"property":"Closed","header":"Closed", editor: "stringEditor"},
  {"property":"Control","header":"Control", editor: "stringEditor"},
  {"property":"AutoDist","header":"AutoDist", editor: "stringEditor"},
  {"property":"Parameter","header":"Parameter", editor: "stringEditor"},
  {"property":"Description","header":"Description", editor: "stringEditor"},
  {"property":"Description_EN","header":"Description_EN", editor: "stringEditor"},
  {"property":"Gr_Dreg","header":"Gr_Dreg", editor: "stringEditor"},
  {"property":"pds_detector.tag","header":"Detector",
    editor: "DetectorSelector", attribute: 'pds_detector_id', nested: true },
  {"property":"Characteristics","header":"Characteristics", editor: "stringEditor"}];


