
:javascript
  var columns = [
    {property: "id", header: "KeyID", hidden: true},
    {property: "hw_ic.ref", header: "IC",
      editor: "HwIcSelector", attribute: 'hw_ic_id', nested: true },
    {property: "system.System", header: "Система",
      editor: "SystemSelector", attribute: 'system_id', nested: true},
    {property: "range", header: "Диапазон", editor: "stringEditor"},
    {"property":"hw_ic.hw_ped.ped","header":"ped", nested: true},
    {"property":"hw_ic.tag_no","header":"tag_no", nested: true},
    {"property":"hw_ic.Description","header":"Описание", nested: true}];
