
:javascript
  var columns = [
    {property: "id", header: "MiscID", hidden: true},
    {property: "hw_ic.ref", header: "REF", nested: true },
    {property: "system.System", header: "Сист.",
      editor: "SystemSelector", attribute: 'system_id', nested: true},
    {"property":"hw_ic.tag_no","header":"TAG/KKS", nested: true, export: false},
    {"property":"hw_ic.Description","header":"Описание", nested: true, export: false},
    {"property":"hw_ic.hw_ped.ped","header":"PED", nested: true},
    {property: "pds_section_assembler.section_name", header: "Питание",editor: "PdsSectionAssemblerSelector", attribute: 'pds_section_assembler_id', nested: true}];

