#dr_table

:javascript
  var columns = [
    {property: "id", header: "DrID", hidden: true},
    {property: "drNum", header: "№", headerClassStyle: 'header-dr_num-col'},
    {property: "system.System", header: "Сист.",
      attribute: 'system_id', nested: true},
    {property: "pds_engineer_author.name", header: "Автор", attribute: 'pds_engineer_author_id', nested: true, headerClassStyle: 'header-pds_engineer-col', hidden: true},
    {property: "pds_engineer_worker", header: "Инженер", headerClassStyle: 'header-pds_engineer-col'},
    {property: "status", header: "Статус", headerClassStyle: 'header-dr_status-col'},
    {property: "query", header: "Описание"}
    ];
