#dr_table

:javascript
  var columns = [
    {property: "id", header: "DrID", hidden: true},
    {property: "drNum", header: "№", headerClassStyle: 'header-dr_num-col'},
    {property: "system.System", header: "Сист.",
      attribute: 'system_id', nested: true},
    {property: "pds_engineer_author.name", header: "Автор", attribute: 'pds_engineer_author_id', nested: true, headerClassStyle: 'header-pds_engineer-col', hidden: true},
    {property: "pds_engineer_worker", header: "Исполнитель", headerClassStyle: 'header-pds_engineer-col'},
    {property: "status", header: "Статус", headerClassStyle: 'header-dr_status-col'},
    {property: "query", header: "Описание"},
    {property: "reply", header: "Ответ"},
    {property: "pds_engineer_reply.name", header: "Ответил", attribute: 'pds_engineer_reply_id', nested: true, headerClassStyle: 'header-pds_engineer-col'},
    {property: "replyDate", header: "Дата ответа"},
    {property: "pds_engineer_closed.name", header: "Закрыл", attribute: 'pds_engineer_closed_id', nested: true, headerClassStyle: 'header-pds_engineer-col'},
    {property: "closedDate", header: "Дата закрытия"},
    ];
