#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  var columns = [
  {"property":"id","header":"auditID"},
  {"property":"Project","header":"Project"},
  {"property":"table_name","header":"table_name"},
  {"property":"tag_RU","header":"TAG_RU"},
  {"property":"tag","header":"TAG/KKS"},
  {"property":"sys","header":"sys"},
  {"property":"field_changed","header":"field_changed"},
  {"property":"id","header":"id"},
  {"property":"old_value","header":"old_value"},
  {"property":"new_value","header":"new_value"},
  {"property":"t","header":"t"}];
