#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"engineer_N", hidden: true},
  {"property":"name","header":"name", editor: "stringEditor"},
  {"property":"TH","header":"TH", editor: "stringEditor"},
  {"property":"TO","header":"TO", editor: "stringEditor"},
  {"property":"L","header":"L", editor: "stringEditor"},
  {"property":"EL","header":"EL", editor: "stringEditor"},
  {"property":"CR","header":"CR", editor: "stringEditor"},
  {"property":"D","header":"D", editor: "stringEditor"},
  {"property":"SWM","header":"SWM", editor: "stringEditor"},
  {"property":"HWM","header":"HWM", editor: "stringEditor"},
  {"property":"PM","header":"PM", editor: "stringEditor"},
  //{"property":"t","header":"t"},
  {"property":"EMail","header":"EMail", editor: "stringEditor"},
  {"property":"CheifDirector","header":"CheifDirector", editor: "stringEditor"},
  {"property":"login","header":"login", editor: "stringEditor"},
  //{"property":"pwd","header":"pwd"},
  {"property":"dismiss","header":"dismiss", editor: "stringEditor"},
  {"property":"coreID","header":"coreID", editor: "stringEditor"},
  {"property":"phoneNum","header":"phoneNum", editor: "stringEditor"},
  {"property":"cellNum","header":"cellNum", editor: "stringEditor"},
  {"property":"IP","header":"IP"},
  {"property":"compJack","header":"compJack", editor: "stringEditor"},
  {"property":"phoneJack","header":"phoneJack", editor: "stringEditor"},
  {"property":"sectorID1","header":"sectorID1", editor: "stringEditor"},
  // todo boolean
  {"property":"enabled","header":"enabled"}
  //{"property":"encrypted_password","header":"encrypted_password"},
  //{"property":"remember_created_at","header":"remember_created_at"},
  //{"property":"sign_in_count","header":"sign_in_count"},
  //{"property":"current_sign_in_at","header":"current_sign_in_at"},
  //{"property":"last_sign_in_at","header":"last_sign_in_at"},
  //{"property":"current_sign_in_ip","header":"current_sign_in_ip"},
  //{"property":"last_sign_in_ip","header":"last_sign_in_ip"},
  //{"property":"created_at","header":"created_at"},
  //{"property":"updated_at","header":"updated_at"}
  ];
