#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"blockID", hidden: true},
  //{"property":"sys","header":"sys"},
  {property: "system.System", header: "Сист.",
    editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"p_p","header":"п/п", editor: "stringEditor"},
  {"property":"Desc","header":"Описание", editor: "TextEditor"},
  {"property":"doc","header":"Документ", editor: "stringEditor"},
  {"property":"varName","header":"Имя переменной", editor: "stringEditor"},
  //{"property":"Project","header":"Project"}
  ];
