#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"UnitID",hidden:true},
  {"property":"Unit_RU","header":"Ед.измерен. RU", editor: "stringEditor"},
  {"property":"Unit_EN","header":"Ед.измерен. EN", editor: "stringEditor"},
  {"property":"MultFactor","header":"К-т усиления", editor: "stringEditor"},
  {"property":"ZeroShift","header":"Смещение нуля", editor: "stringEditor"}
  //{"property":"t","header":"t"},
  //{"property":"import_t","header":"import_t", editor: "stringEditor"}
  ];
