#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  //{"property":"id","header":"blockID"},
  {"property":"sys","header":"sys"},
  {"property":"p_p","header":"p_p", editor: "stringEditor"},
  {"property":"Описание","header":"Описание", editor: "stringEditor"},
  {"property":"doc","header":"doc", editor: "stringEditor"},
  {"property":"varName","header":"varName", editor: "stringEditor"},
  {"property":"Project","header":"Project"}];
