#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [

  {"property":"ProjectID","header":"ProjectID", editor: "stringEditor"},
  {"property":"HostName","header":"HostName", editor: "stringEditor"},
  {"property":"HostIP","header":"HostIP", editor: "stringEditor"},
  {"property":"SimDir","header":"SimDir", editor: "stringEditor"},
  {"property":"ISName","header":"ISName", editor: "stringEditor"},
  {"property":"ISIP","header":"ISIP", editor: "stringEditor"},
  {"property":"RootPass","header":"RootPass", editor: "stringEditor"},
  {"property":"IOPass","header":"IOPass", editor: "stringEditor"},
  {"property":"LoadPass","header":"LoadPass", editor: "stringEditor"},
  {"property":"TgisPass","header":"TgisPass", editor: "stringEditor"},
  {"property":"OSType","header":"OSType", editor: "stringEditor"},
  {"property":"LowLimKeyField","header":"LowLimKeyField", editor: "stringEditor"},
  {"property":"UpLimKeyField","header":"UpLimKeyField", editor: "stringEditor"},
  {"property":"Language","header":"Language", editor: "stringEditor"},
  {"property":"Enabled","header":"Enabled", editor: "stringEditor"},
  {"property":"ResName","header":"ResName", editor: "stringEditor"},
  {"property":"ClassLib","header":"ClassLib", editor: "stringEditor"},
  {"property":"ServicePort","header":"ServicePort", editor: "stringEditor"},
  {"property":"StatsInterval","header":"StatsInterval", editor: "stringEditor"},
  {"property":"pdsCode","header":"pdsCode", editor: "stringEditor"},
  {"property":"fdsCode","header":"fdsCode", editor: "stringEditor"},
  {"property":"portS3serv","header":"portS3serv", editor: "stringEditor"},
  {"property":"report_prefix","header":"report_prefix", editor: "stringEditor"},
  {"property":"Encoding","header":"Encoding", editor: "stringEditor"},
  {"property":"pmCode","header":"pmCode", editor: "stringEditor"},
  {"property":"pmShortCode","header":"pmShortCode", editor: "stringEditor"},
  {"property":"stCode","header":"stCode", editor: "stringEditor"},
  {"property":"stShortCode","header":"stShortCode", editor: "stringEditor"}
  ];