#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [

  {property:"pds_project.project_name","header":"Проект", nested: true},
  {"property":"HostName","header":"Имя сервера", editor: "stringEditor"},
  {"property":"HostIP","header":"IP сервера", editor: "stringEditor"},
  {"property":"SimDir","header":"Раб. дир-ия", editor: "stringEditor"},
  {"property":"ISName","header":"Имя ИС", editor: "stringEditor"},
  {"property":"ISIP","header":"IP ИС", editor: "stringEditor"},
  {"property":"RootPass","header":"root пароль", editor: "stringEditor"},
  {"property":"IOPass","header":"io пароль", editor: "stringEditor"},
  {"property":"LoadPass","header":"load пароль", editor: "stringEditor"},
  {"property":"TgisPass","header":"tgis пароль", editor: "stringEditor"},
  {"property":"OSType","header":"Тип OS", editor: "stringEditor"},
  {"property":"LowLimKeyField","header":"LowLimKeyField", editor: "stringEditor"},
  {"property":"UpLimKeyField","header":"UpLimKeyField", editor: "stringEditor"},
  {"property":"Language","header":"Язык", editor: "stringEditor"},
  //{"property":"Enabled","header":"Enabled", editor: "stringEditor"},
  {"property":"ResName","header":"Папка SG", editor: "stringEditor"},
  {"property":"ClassLib","header":"Библиотека SG", editor: "stringEditor"},
  {"property":"ServicePort","header":"порт s3serv", editor: "stringEditor"},
  //{"property":"StatsInterval","header":"StatsInterval", editor: "stringEditor"},
  //{"property":"pdsCode","header":"pdsCode", editor: "stringEditor"},
  //{"property":"fdsCode","header":"fdsCode", editor: "stringEditor"},
  //{"property":"portS3serv","header":"portS3serv", editor: "stringEditor"},
  //{"property":"report_prefix","header":"report_prefix", editor: "stringEditor"},
  {"property":"Encoding","header":"Кодировка", editor: "stringEditor"}
  //{"property":"pmCode","header":"pmCode", editor: "stringEditor"},
  //{"property":"pmShortCode","header":"pmShortCode", editor: "stringEditor"},
  //{"property":"stCode","header":"stCode", editor: "stringEditor"},
  //{"property":"stShortCode","header":"stShortCode", editor: "stringEditor"}
  ];
