#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  //{"property":"roleID","header":"roleID"},
  {"property":"role","header":"role", editor: "stringEditor"},
  {"property":"Desc","header":"Desc", editor: "stringEditor"}
  ];