
#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"sID", hidden: true},
  {"property":"engID","header":"engID"},
  {"property":"engName","header":"engName"},
  {"property":"BlobObj","header":"BlobObj"}];
