#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {property:"tablelist.table","header":"tableID", attribute: 'id', nested: true},
  {property:"role.role","header":"roleID", editor: "stringEditor", attribute: 'id', nested: true},
  {"property":"value","header":"value", editor: "stringEditor"}
  ];
