//%h1= title

//%h2= index_view

#general_table

:javascript
  var title = "#{title}";

  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  var columns = [
  {"property":"id","header":"DocID", hidden: true},
  // {"property":"Project","header":"Project", hidden: true},
  {"property":"DocTitle","header":"Заголовок", editor: 'TextEditor'},
  {"property":"Type","header":"Тип", editor: 'stringEditor'},
  {"property":"NPP_Number","header":"Номер блока", editor: 'stringEditor'},
  {"property":"Revision","header":"Ревизия", editor: 'stringEditor'},
  {"property":"reg_ID","header":"reg_ID", editor: 'stringEditor'},
  {"property":"getting_date","header":"Дата получения", editor: 'dateEditor'},
  {"property":"DocTitle_EN","header":"Заголовок (EN)", hidden: true},
  {"property":"Hardcopy","header":"Hardcopy", hidden: true},
  {"property":"File","header":"File", hidden: true},
  {"property":"t","header":"t", hidden: true}];
