//%h1= title

#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  // todo: add documentation selector
  var columns = [
    {"property":"id","header":"StationID", hidden: true},
    {"property":"Station_sys","header":"Station_sys", editor: "stringEditor"},
    {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
    {"property":"Desc_RU","header":"Описание", editor: "TextEditor"},
    {"property":"Desc_EN","header":"Описание(EN)", editor: "TextEditor"},
    //{"property":"t","header":"t"}
  ];
