#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns =
  [{"property":"id","header":"sd_N"},
  {"property":"SdTitle","header":"SdTitle", editor: "stringEditor"},
  {property: "system", header: "Система",editor: "SystemSelector", attribute: 'system_id'},
  {"property":"title_EN","header":"title_EN"},
  {"property":"Numb","header":"Numb", editor: "stringEditor"},
  {"property":"BlobObj","header":"BlobObj"},
  {"property":"from_sapfir","header":"from_sapfir", editor: "stringEditor"},
  {"property":"t","header":"t"}];
