//%h1= title

//%h2= index_view

#general_table

:javascript
  var title = "#{title}";

  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  var columns = [
  {"property":"id","header":"SysID", hidden: true},
  {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"Description","header":"Описание", editor: 'WideTextEditor'},
  {"property":"Description_EN","header":"Описание(EN)", editor: 'TextEditor'},
  {"property":"shortDesc","header":"Краткое описание", editor: 'TextEditor'},
  {"property":"shortDesc_EN","header":"Краткое описание(EN)", editor: 'TextEditor'},
  {property: "toGenerateReport", header: "Создать отчет", editor: "BooleanSelector"}
  ];
