//%h1= title

//%h2= index_view

#general_table

:javascript
  var title = "#{title}";

  var data = #{table_data};
  var model_name = "#{hash_model_name}";
  var columns = [
  {"property":"id","header":"ReportID", hidden: true},
  {"property":"Project","header":"Project", hidden: true},
  {"property":"pds_engineer.name","header":"Engineer", editor: "PdsEngineersSelector", attribute: 'pds_engineer_id', nested: true},
  {"property":"ReportDate","header":"ReportDate"},
    {property: "system.System", header: "Сист.", editor: "SystemSelector", attribute: 'system_id', nested: true},
  {"property":"RptText","header":"RptText", editor: 'TextEditor'},
  {"property":"Problems","header":"Problems", editor: 'TextEditor'},
  {"property":"t","header":"t", hidden: true}
  ];
