#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"typeID", hidden: true},
  {"property":"RuName","header":"Описание", editor: "stringEditor"},
  {"property":"EnName","header":"Описание(EN)", editor: "stringEditor"},
  {"property":"typetable","header":"Таблица", editor: "stringEditor"}
  ];
