#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [

  {"property":"id","header":"ID",hidden: true},
  {"property":"ioname","header":"Тип в wire", editor: "stringEditor"},
  {"property":"memtype","header":"Тип сигнала", editor: "stringEditor"},
  {"property":"rem","header":"Заметка", editor: "stringEditor"}
  ];
