#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"wirelist_N",hidden: true},
  {"property":"from","header":"from", editor: "stringEditor"},
  {"property":"to","header":"to", editor: "stringEditor"},
  {"property":"wc","header":"wc", editor: "stringEditor"},
  {"property":"nc","header":"nc", editor: "stringEditor"},
  {"property":"io","header":"io", editor: "stringEditor"},
  {"property":"m","header":"m", editor: "stringEditor"},
  {"property":"s","header":"s", editor: "stringEditor"},
  {"property":"word","header":"word", editor: "stringEditor"},
  {"property":"bit","header":"bit", editor: "stringEditor"},
  //{"property":"power","header":"Питание", editor: "stringEditor"},
  //{"property":"origin","header":"origin", editor: "stringEditor"},
  //{"property":"net","header":"net", editor: "stringEditor"},
  {"property":"hw_ped.ped","header":"PED", nested: true, editor: "HwPedSelector", attribute: "hw_ped_id"},
  //{"property":"Project","header":"Project"},
  {"property":"rev","header":"Ревизия", editor: "stringEditor"},
  // todo: fix unit selector
  //{"property":"Unit","header":"Разм."},
  //{"property":"step","header":"step", editor: "stringEditor"},
  //{"property":"t","header":"t"},
  {property: "hw_ic.ref", header: "REF", nested: true , attribute: 'hw_ic_id', editor: 'HwIcSelector'},
  {"property":"remarks","header":"Заметка", editor: "stringEditor"},
  //{"property":"io_signalID","header":"io_signalID", editor: "stringEditor"},
  {"property":"pds_panel.panel","header":"Панель", nested: true, editor: "PdsPanelSelector", attribute: 'pds_panel_id'}]
  //{"property":"pds_mark","header":"pds_mark", editor: "stringEditor"}]
  ;
