#general_table

:javascript
  var title = "#{title}";
  var data = #{table_data};
  var model_name = "#{hash_model_name}";

  var columns = [
  {"property":"id","header":"pID", hidden: true},
  {"property":"panel","header":"panel", editor: "stringEditor"},
  {"property":"start","header":"start", editor: "stringEditor"},
  {"property":"end","header":"end", editor: "stringEditor"},
  {"property":"migsjem","header":"migsjem", editor: "stringEditor"},
  {"property":"memsjem","header":"memsjem", editor: "stringEditor"},
  {"property":"lamptest","header":"lamptest", editor: "stringEditor"},
  {"property":"soundtest","header":"soundtest", editor: "stringEditor"},
  {"property":"soundtest_warn","header":"soundtest_warn", editor: "stringEditor"},
  {"property":"pressconfirm","header":"pressconfirm", editor: "stringEditor"},
  {"property":"soundtest_alarm","header":"soundtest_alarm", editor: "stringEditor"},
  //{"property":"Project","header":"Project"},
  {"property":"soundsjem","header":"soundsjem", editor: "stringEditor"},
  {"property":"soundalarm","header":"soundalarm", editor: "stringEditor"},
  {"property":"power_lamp","header":"power_lamp", editor: "stringEditor"},
  {"property":"Tab_No","header":"Tab_No", editor: "stringEditor"},
  {"property":"pnl_type","header":"pnl_type", editor: "stringEditor"},
  {"property":"fhd","header":"fhd", editor: "stringEditor"},
  {"property":"lamptest_suff","header":"lamptest_suff", editor: "stringEditor"}
  ];
