/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui

 *  require select2-bootstrap
 *= require libs/select2-3

 *= require libs/bootstrap3-editable/bootstrap-editable
 *= require prev_styles
 *= require_self
 *= require libs/react-pagify/style
 *= require libs/react-select/default.css

*/


table{

  thead{
    background-color: #ccc;
    th{
      padding: 3px;
      text-align: center;

      &.sort-asc:after{
        content:  "\f0de";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        top: 18px;
        position: absolute;
        margin-left: 5px;

      }

      &.sort-desc:after{
        content: "\f0dd";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        top: 12px;
        position: absolute;
        margin-left: 5px;

      }

    }
    a{
      font-size: 11px;
      color: #003366;
    }
  }

}

.navbar{
  margin-bottom: 0;

  .navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
  }


  &.white{
    background-color: #ffffff;
    
    .navbar-text, a{
      color: #0081c2;
    }
  }

  &.blue{
    background-image: asset_data_url('header_bg.png');
    color: #427fa1;
    height: 35px;
    min-height: 35px;
    font-size: 10px;

    .navbar-text{
      margin: 5px;
      width: 150px;
    }

    .navbar-center-blue{
      float: left;
      width: 100%;
      text-align: center;
    }
    .navbar-nav{
      li{
        a{
          height: 35px;
          padding: 0px;
          font-size: 10px;

          &:hover{
            height: 25px;
            background-color: #87cdeb;
            color: #304d67;
          }

          img{
            height: 25px;
          }
        }
      }
      div{
        a{
          height: 35px;
          padding: 5px;
          font-size: 10px;

          &:hover{
            height: 25px;
            background-color: #87cdeb;
            color: #304d67;
          }

          img{
            height: 25px;
          }
        }
      }
    }
  }

}


.container.app-container{
  border: 1px solid #6DA3BD;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 10px;
  width: auto;

  &:after{
    content: none;
  }

  &:before{
    content: none;
  }

  .inner-container.container{
    border: 6px solid #ABD2E6;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    //float: left;
    display: table;
    height:100%;

    &:after{
      content: none;
    }

    &:before{
      content: none;
    }
  }
}
//todo сделать исчезающую панель
.left-menu.col{
  width: 245px;
  // float: left;
  display: table-cell;
  border-right: 6px solid #ABD2E6;
  //min-width: 245px;
  min-width: 245px;

  #left_menu.table{
    margin: 0px;
  }
  .react-search{
    background-color: #ABD2E6;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #6DA3BD;

    input{
      padding: 0;
      width: 192px;
      height: 20px;
      font-family: tahoma;
      font-size: 12px;
      color: #333;
      border: 1px solid #b5b8c8;
      background: #fff;
    }

    .fa.fa-lg{
      font-size: 1.2em;
      line-height: 20px;
      margin: 0 3px;
      vertical-align: 0;
    }
  }
  .menu-tree{

    .menu-tree-inner{
      border-left: 1px solid #6DA3BD;
      border-right: 1px solid #6DA3BD;
      border-bottom: 1px solid #6DA3BD;
      -webkit-border-bottom-left-radius: 8px;
      -moz-border-radius-bottomleft: 8px;
      border-bottom-left-radius: 8px;
      padding: 0 10px;

      span.node{
        line-height: 11px;
        font-family: tahoma;
        font-size: 16px;
        font-weight: normal;
        color: rgb(68, 68, 68);


      }
      li.node{
        padding: 1px 5px;
        list-style-type: none;
        a{
          line-height: 11px;
          font-family: tahoma;
          font-size: 11px;
          font-weight: normal;
          color: rgb(68, 68, 68);
        }
      }
    }
  }

}

.col.main-container{
  background-color: #ABD2E6;
  //float: left;
  padding-top: 5px;
  min-width: 900px;
  width: 100%;
  margin-left: 250px;
  overflow: auto;
  display: table-cell;
  height: 100%;

  #general_table{
    //overflow:auto;
    min-height: 100%;

    .main-container-inner{
      min-height: 100%;
      //overflow:auto;

      .table-container{
        min-height: 1465px;
      }
    }
  }


  .table-info{
    .title{
      min-width: 120px;
      max-width: 300px;
      border: 1px solid #6DA3BD;
      background-color: #ffffff;
      border-bottom: 0;
      text-align: center;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: 11;
      position: relative;

      &:before{

        border-right:0;
        -moz-border-radius:0 0 0 5px;
        -webkit-border-radius:0 0 0 5px;
        border-radius: 0 0 0 5px;
        content:'';
        right: -40px;
        content: '';
        width: 40px;
        height: 10px;
        border:1px solid #6DA3BD;
        position:absolute;
        bottom: 0px;
        border-top:0;
        border-right: 0;
      }
    }

    .info{
      z-index: 10;
      margin-top: -1px;
      height: 60px;
      width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #ffffff;
      border: 1px solid #6DA3BD;
      border-top-left-radius: 0;
      position: relative;

      .left{
        color: #696969;
        font-size: 11px;
        padding-left: 15px;
        height: 50px;
        float: left;
         p{
           font-size: 11px;
           text-align: center;
         }
        .total{
          display: inline-block;
          width: 70px;
          text-align: center;
          margin-right: 10px;
        }
        .icon{
          background-size: contain;
          background-image: asset_data_url("icons/checked_user.png");
          width: 50px;
          height: 50px;
          display: inline-block;
          vertical-align: sub;
          opacity: 0.6;
          margin-right: 10px;
        }
        .system-selector{
          display: inline-block;
          margin-right: 10px;
          .Select-control{
            border: 1px solid rgb(238, 238, 238);
          }
        }
        .per-page-container{
          display: inline-block;
        }
        .page-container{
          display: inline-block;
        }

        .icon-filter{
          background-size: contain;
          background-image: asset_data_url("icons/filter.png");
          width: 100px;
          height: 50px;
          display: inline-block;
          padding-left: 50px;
          background-repeat: no-repeat;
          margin-right: 15px;
          padding-top: 20px;
          cursor: pointer;
          vertical-align: top;
        }

        .icon-replace{
          background-size: contain;
          background-image: asset_data_url("icons/replace.png");
          width: 100px;
          height: 50px;
          display: inline-block;
          padding-left: 50px;
          background-repeat: no-repeat;
          margin-right: 15px;
          padding-top: 20px;
          cursor: pointer;
          vertical-align: top;
        }

      }

      .right{
        float: right;
        color: #696969;
        font-size: 11px;

        .show-filters{
          background-size: contain;
          background-image: asset_data_url("icons/filters.png");
          width: 100px;
          height: 50px;
          float: left;
          padding-left: 50px;
          background-repeat: no-repeat;
          margin-right: 15px;
          padding-top: 5px;
          cursor: pointer;
        }

        .export-to-excel{
          background-size: contain;
          background-image: asset_data_url("icons/excel.png");
          width: 105px;
          height: 50px;
          float: left;
          padding-left: 55px;
          background-repeat: no-repeat;
          padding-top: 12px;
          cursor: pointer;
        }

      }
    }
  }
  .table-filters{
    height: 60px;
    background-color: #ffffff;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 3px;
    border: 1px solid #6DA3BD;

    .add-row{
      background-size: contain;
      background-image: asset_data_url("icons/add_row.png");
      width: 35px;
      height: 35px;
      float: left;
      margin-left: 55px;
      background-repeat: no-repeat;
      margin-top: 15px;
      cursor: pointer;
    }

    .search-container{
      float: left;

    }
  }

  .table-container{
    background-color: #ffffff;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #6DA3BD;
    position: relative;
    padding: 5px;
    margin-top: 3px;

    table{
      tr{
        td{
          padding: 2px;
          vertical-align: middle;
          font-size: 10px;

          input{
            width: 100%;
          }

          .custom-selector{
            &.pds_documentation{
              width: 250px;
            }

          }
        }

        &.selected{
          background-color: #6DA3BD;
        }
      }

      .buttons-col{
        min-width: 100px;
      }

    }

  }
}

.header{
  BORDER-BOTTOM: thin groove;
  PADDING-BOTTOM: 7px;
  PADDING-TOP: 7px;
  PADDING-LEFT: 7px;
  PADDING-RIGHT: 7px;
  BACKGROUND-COLOR: #f8f8ff;

  table{
    HEIGHT: 1px;
    width: 100%;

    td{
      HEIGHT: 32px;

      #ctl00_lnkExport{
        WIDTH: 130px;
        DISPLAY: inline-block;
      }
    }

    img{
      border: 0;
    }
  }
}

.container{
  margin: 0;
  width: 100%;
  padding: 0;

  .sidebar-nav
  {
    &.well{
      padding: 10px;
    }
    td{
      padding: 2px;
    }

    a{
      padding: 0;
      font-size: 13px;
      text-decoration: none;
    }

    width: 215px;
    h3{
      font-size: 16px;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  tr{
    &.editable-raw{
      td{
        padding: 0;

        input.form-control{
          font-size: 14px;
          height: 40px;
          border: 1px solid #dce4ec;
          border-radius: 0px;
          padding: 10px;
        }
      }
    }
  }
}


/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

/* style for the container */
.tree-view_children {
  margin-left: 16px;

  ul{
    padding-left: 10px;
  }
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;

  &:hover {
    background-color: rgb(220, 245, 243);
    cursor: pointer;
  }

  &.current {
    background-color: rgb(220, 245, 243);
  }

  a{
    &:hover{
      background: none;
      text-decoration: none;
    }
  }
}


.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tree-view_arrow-empty {
  color: yellow;
}


.ReactModal__Overlay{
  z-index: 99;

  .ReactModal__Content{
    &.ReactModal__Content--after-open{

      .table{
        thead{
          th{
            &.select-header {
              padding: 1px;
              font-size: 11px;
              .Select-option{
                font-weight: 100;
                text-align: left;
              }
            }
          }
        }
      }


    }

  }
}

.new_select_builder_settings{

  padding: 30px;

    label{
      display: block;
    }

   .select_builder_settings_systems{

     .checkbox{
       width: 100px;
       display: inline-block;
     }

   }

}
