BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: normal; LETTER-SPACING: normal
}
H1 {
	COLOR: #003366
}
H2 {
	COLOR: #003366
}
H3 {
	COLOR: #003366
}
H4 {
	COLOR: #003366
}
H5 {
	COLOR: #003366
}
TH {
	COLOR: #003366
}
THEAD {
	COLOR: #003366
}
TFOOT {
	COLOR: #003366
}
H1 {
	FONT-SIZE: 2em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 700; FONT-STYLE: normal; LETTER-SPACING: normal
}
H2 {
	FONT-SIZE: 1.75em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 700; FONT-STYLE: normal; LETTER-SPACING: normal
}
H3 {
	FONT-SIZE: 1.58em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 500; FONT-STYLE: normal; LETTER-SPACING: normal
}
H4 {
	FONT-SIZE: 1.33em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 500; LETTER-SPACING: normal
}
H5 {
	FONT-SIZE: 1em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 700; FONT-STYLE: normal; LETTER-SPACING: normal
}
DT {
	FONT-SIZE: 1em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 700; FONT-STYLE: normal; LETTER-SPACING: normal
}
H6 {
	FONT-SIZE: 0.8em; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-WEIGHT: 700; FONT-STYLE: normal; LETTER-SPACING: normal
}
A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #003366
}
A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #003366
}
A:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #003366
}
A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #003366
}
.label {
	WHITE-SPACE: pre-wrap
}
.LabelTitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: black
}
.LabelTitleBig {
	FONT-SIZE: 24px; FONT-WEIGHT: bold; COLOR: #003366; FONT-STYLE: italic
}
.gvList {
	BORDER-RIGHT: thin groove
}
.gvTable {
	BORDER-TOP-STYLE: groove; BORDER-TOP-COLOR: #cccccc; BORDER-BOTTOM-STYLE: groove; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; BORDER-RIGHT-COLOR: #cccccc
}
.ToolTip {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; WHITE-SPACE: nowrap; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 1px solid; Z-INDEX: 1000; DISPLAY: none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #ffffd9
}
.Panel {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 1px solid; DISPLAY: none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f8f8ff
}
.Upload {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f8f8ff
}
.Div {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.MyDiv {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #f8f8ff
}
.MyLink {
	FONT-WEIGHT: bold; COLOR: #003366
}
.MyLinkPager SPAN {
	FONT-SIZE: 14pt; FONT-WEIGHT: bold; COLOR: red
}
.MyWarrningLink {
	FONT-WEIGHT: bold; foreColor: red
}
.PagerLink {
	FONT-WEIGHT: bold; COLOR: #003366
}
.NoWrap {
	WHITE-SPACE: nowrap
}
.ResizableTextBox {
	HEIGHT: 100%; WIDTH: 100%; DISPLAY: block
}
.HideAll {
	HEIGHT: 100%; WIDTH: 100%; POSITION: fixed; LEFT: 0px; FILTER: alpha(opacity=80); Z-INDEX: 10000; TOP: 0px; BACKGROUND-COLOR: white; opacity: 0.8; -moz-opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-box-pack: center; -moz-box-align: center; -webkit-box-pack: center; -webkit-box-align: center; box-pack: center; box-align: center
}
.GVPager {
	HEIGHT: 20px; WIDTH: 958px; POSITION: absolute; TEXT-ALIGN: right; BORDER-RIGHT-STYLE: solid; LEFT: 0px; BORDER-RIGHT-COLOR: navy; TOP: 720px
}
.overlay {
	HEIGHT: 100%; WIDTH: 100%; POSITION: absolute; TEXT-ALIGN: center; LEFT: 0px; Z-INDEX: 1000; TOP: 0px; VISIBILITY: hidden
}
